.header {
  position: fixed;
  top: var(--top-header-height);
  border-radius: 0 0 20px 20px;
  max-height: var(--header-height);
  width: 100%;
  z-index: var(--z-fixed);
  background: transparent;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 5px;
  background: white;
  border-radius: 20px;
  background: #ffffffde;
  backdrop-filter: blur(10px);
}

nav ul {
  display: flex;
  align-self: center;
  gap: 2rem;
}
nav ul li a {
  font-size: var(--fs-sm);
  font-weight: 500;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: capitalize;
  transition: 0.2s all;
  padding: 0.4rem;
}

nav ul li a svg {
  font-size: 1.8rem;
  align-self: center;
}

nav a:hover,
nav a:focus {
  color: var(--main-color);
}
.call-btn {
  padding: 0.5rem 1rem;
}
.action-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.toggle-btn {
  display: none;
}

@media (width < 1000px) {
  .header nav {
    flex-direction: column;
    gap: 2rem;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    height: calc(100dvh - 4rem);
    padding: 2rem;
    justify-content: space-around;
    margin-top: 2rem;
    border-radius: 0px 40px 40px 0;
  }
  .header nav ul {
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    margin-left: 1rem;
  }

  .toggle-btn {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem 2rem;
    padding: 1rem;
    background-color: var(--main-color);
    color: white;
    border-radius: 50%;
    box-shadow: rgb(0, 0, 0) 0px 10px 30px -10px;
    user-select: none;
  }

  .toggle-btn svg {
    font-size: 3rem;
  }
}
