.header {
  position: fixed;

  top: var(--top-header-height);
  /* top: 0; */

  /* background: var(--main-color); */
  /* color: white; */
  /* color: ; */
  border-radius: 0 0 20px 20px;
  max-height: var(--header-height);
  width: 100%;
  z-index: var(--z-fixed);
  background: transparent;
}

.header .logo {
  width: fit-content;
  display: flex;
  align-items: center;
  /* gap: 1rem; */
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--font-montserrat);
  padding: 0.2rem;
}
.header .logo img {
  width: 3rem;
  margin-right: 1rem;
}
.logo span {
  color: var(--second-color);
  /* text-shadow: 0px 2px 2px rgb(207, 156, 16); */
}

.logo span:last-child {
  color: var(--main-color);
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 5px;
  background: white;
  border-radius: 20px;
  background: #ffffffde;
  backdrop-filter: blur(10px);
}

nav ul {
  display: flex;
  align-self: center;
  gap: 2rem;
}

nav a {
  text-transform: capitalize;
  transition: 0.2s all;
}
nav a:hover,
nav a:focus {
  color: var(--main-color);
}
