.top-header {
  width: 100%;
  background-color: rgb(3 32 74);
}

.top-header-navbar {
  height: var(--top-header-height);
  display: flex;
  /* background-color: red; */
  padding: 0 3rem;
  justify-content: space-between;
  color: white;
}

.top-header-navbar > div:first-child {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
.top-header-navbar > div:first-child svg {
  color: rgb(228, 91, 28);
  display: flex;
}
.working-hours,
.email,
.phone,
.socials {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.working-hours {
}

.socials {
}
.working-hours {
}

@media (max-width: 1440px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }

  .top-header-navbar {
    padding: 1rem;
    justify-content: center;
  }
  .top-header-navbar > div:first-child {
    justify-content: center;
    gap: 2rem;
  }
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
}

@media (max-width: 360px) {
  .top-header-navbar > div:nth-child(1) > div > svg {
    display: none;
  }
}
