.contact-section {
  padding: 6rem 2rem;
}

.contact-section header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 6rem;
}

.contact-section header h1 {
  font-size: 4rem;
  font-family: var(--font-secondary);
  margin: auto;
}

.contact-section header h1 span {
  color: var(--main-color);
  font-family: var(--font-montserrat);
  font-style: italic;
}
.contact-section header p {
  font-size: 1.8rem;
  color: var(--text-color);
  max-width: 60rem;
  /* text-align: center; */
  margin-bottom: 2rem;
}

.contact-section .map-container {
  width: 100rem;
  height: 60rem;
  border-radius: 20px;
  overflow: hidden;
  margin: auto;
  max-width: 100%;
}

.contact-section .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  margin-top: 4rem;
  grid-gap: 2rem;
  gap: 2rem;
  padding: 1rem 4rem;
  justify-content: center;
}

.contact-section .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  /* flex: 1 1; */
  /* cursor: pointer; */
  /* min-width: 40rem; */
  /* background: linear-gradient(to bottom, #ffffff, #dfdfdf); */
}

.contact-section .card .icon-container {
  background-color: #ffe7db;
  padding: 2rem;
  border-radius: 50%;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
}
.contact-section .card svg {
  font-size: 4rem;
  color: var(--main-color);
}

.contact-section .card h3 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: #ff894a;
  font-weight: 300;
}

.contact-section .card p {
  color: #004282;
  font-weight: bold;
  min-width: 100%;
}

@media (max-width: 1440px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
  .contact-section header {
    gap: 4rem;
  }
}

@media (max-width: 768px) {
  .contact-section header {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
  .contact-section {
    padding: 6rem 1rem;
  }

  .contact-section .card svg {
    font-size: 3rem;
  }
}

@media (max-width: 360px) {
}
