.projects-section {
  padding: 10rem 2rem;
  background-image: url("/back.jpg"), linear-gradient(#000000f2, #000000f2);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.projects-container {
  margin: 0 auto;
}

.projects-container .section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
  gap: 1rem;
}
.projects-container .section-header h1 {
  font-size: var(--fs-h1);
  text-transform: uppercase;
  text-align: center;
  color: white;
  text-align: center;
  margin: 1rem;
  position: relative;
  z-index: 1;
  text-shadow: 0px 5px 2px #14130052;
  max-width: 70rem;
}

.projects-container .section-header h1::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 30%;
  background-color: var(--main-color);
  z-index: -1;
  inset: 0;
  bottom: 20%;
  margin: auto;
  border-radius: 10px;
}

.projects-container .section-header h3 {
  font-size: 2.8rem;
  text-align: center;
  max-width: 60rem;
  color: #333;
  color: #db5d19;
}
.projects-container .section-header p {
  font-size: 1.8rem;
  text-align: center;
  max-width: 60rem;
  color: var(--text-dark);
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  margin-top: 4rem;
  align-items: center;
}
.projects-container .compare-slider {
  overflow: hidden;
  border-radius: 20px;
  height: clamp(35rem, 50vw, 70rem);
}

.projects-container .compare-slider img {
  width: 100%;
  height: 100%;
  object-fit: fill !important;
}

.project-feature {
  width: stretch;
  position: relative;
  max-width: 60rem;
}

.project-feature p {
  color: var(--text-dark);
  font-size: 1.8rem;
  padding: 2rem;
  /* text-align: center; */
  display: flex;
  align-items: center;
  /* border: 1px #db5d19 dashed; */
  gap: 1rem;
}
.project-feature p svg {
  display: block;
  width: 4rem;
  color: var(--main-color);
}

.projects-container .row {
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 4rem;
}

.materias-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  padding: 6rem 1rem;
}

.materials {
  display: flex;
  align-items: center;
  margin-top: 6rem;
  gap: 2rem;
}

.materias-imgs img {
  width: 40rem;
  height: 40rem;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0px 5px 15px #00000070;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  aspect-ratio: 1/2;
}

.materials-header,
.materias-imgs {
  flex: 1;
}

.materials-header {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.materials-header h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #ffebe1;
}

.materials-header p {
  font-size: 1.6rem;
  color: var(--text-dark);
}

.latest-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 6rem 1rem;
}

.latest-projects header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 80rem;
  text-align: center;
}

.latest-projects header h2 {
  font-size: 4rem;
  color: white;
  text-shadow: 0px 3px 1px #000000d4;
  text-transform: capitalize;
  text-align: center;
}
.latest-projects header p {
  max-width: 60rem;
  text-align: center;
  color: var(--text-dark);
  font-size: 1.8rem;
  line-height: 1.4;
}

.latest-projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(38rem, 100%), 1fr));
  justify-items: center;
  width: 100%;
  gap: 3rem;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 4rem;
}
.latest-projects-container img {
  background: white;
  border-radius: 20px;
  box-shadow: rgba(233, 3, 3, 0.24) 0px 3px 8px;
  width: 40rem;
  cursor: pointer;
  aspect-ratio: 16/ 20;
}

@media (max-width: 1024px) {
  .projects-section {
    padding: 10rem 1rem;
  }
}

@media (max-width: 768px) {
  .projects-container .row {
    margin-top: 8rem;
    flex-direction: column;
    gap: 8rem;
  }

  .projects-container .project-feature {
    max-width: 35rem;
    align-self: center;
  }
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
  .projects-container .section-header {
    padding: 1rem;
  }

  .projects-container .section-header h1 {
    font-size: 4rem;
  }

  .materials-header {
    padding: 1rem;
  }
  .materials-header h2 {
    font-size: 3rem;
    text-align: center;
  }

  .materials {
    display: flex;
    margin-top: 15rem;
    flex-direction: column;
  }

  .materias-imgs {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    gap: 2rem;
    padding: 6rem 1rem;
  }
}

@media (max-width: 360px) {
  .latest-projects {
    padding-inline: 0;
  }
}
