.services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 1rem;
  position: relative;
  background: radial-gradient(50% 50% at 50% 50%, #093b81 0%, #03204a 100%);
  gap: 12rem;
  /* padding-bottom: 45rem; */
  /* margin-bottom: 20rem; */
}
.services-section header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-section header h1 {
  font-size: 6rem;
}

.mini-services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(38rem, 100%), 1fr));
  justify-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 2rem 1rem 10rem 1rem;
  width: 100%;
  max-width: 1400px;
  z-index: 1;
}

.services-section header h3 {
  color: var(--main-color);
  line-height: 1.6;
  font-family: var(--font-figtree);
  font-size: 2.4rem;
}

.services-section header h1 {
  color: white;
  max-width: 43rem;
  text-align: center;
  margin: 1rem;
  position: relative;
  z-index: 1;
  text-shadow: -4px -6px 2px #14130052;
}
.services-section header h1::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 30%;
  background-color: var(--main-color);
  z-index: -1;
  inset: 0;
  bottom: 0;
  margin: auto;
  border-radius: 10px;
}
.services-section header p {
  max-width: 50%;
  text-align: center;
  color: rgb(204, 204, 204);
  color: rgb(180, 180, 180);
}

.mini-services-container .service {
  display: flex;
  place-content: flex-start center;
  align-items: flex-start;
  gap: 4rem;
  width: 40rem;
  height: min-content;
  position: relative;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0.602187px 1.56569px -1px,
    rgba(0, 0, 0, 0.14) 0px 2.28853px 5.95019px -2px,
    rgba(0, 0, 0, 0.1) 0px 10px 26px -3px;
  cursor: pointer;
  flex-flow: column;
  padding: 3rem;
  text-decoration: none;
  overflow: hidden;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  aspect-ratio: 1/1;
}

.mini-services-container .service:hover {
  background: #063170;
  border: 1px solid #ff7125a3;
}

.mini-services-container .service:last-child {
  align-items: center;
  /* gap: 5rem; */
  & .service-content {
    gap: 4rem;
  }
}
.mini-services-container .icon-container + div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mini-services-container .service .icon-container {
  max-width: 6rem;
}
.mini-services-container .service h2 {
  color: white;
  width: max-content;
}

.mini-services-container .service p {
  color: rgb(204, 204, 204);
  font-family: var(--font-figtree);
}

.mini-services-container .service img {
  filter: drop-shadow(-4px -6px 2px #14130052);
}

.mini-services-container .call-btn {
  font-weight: 700;
  padding: 1.2rem 2rem;
  color: #000000;
  background: #ffb187;
  background: linear-gradient(0deg, #dbb719 0%, #fff141 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -10px #dbb719;
  letter-spacing: 0.05em;
  border-radius: 10px;
  font-weight: 800;
  transition: 0.2s all;
}

.mini-services-container .call-btn:hover,
.mini-services-container .call-btn:focus {
  box-shadow: 0 0.5em 1.5em -0.5em #dbb719;
}

/* Service slider */

.slider-section {
  position: relative;
  width: 100%;
}
.slider-section .swiper-container {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: grab;
}
.slider-section .swiper-slide {
  text-align: center;
  font-size: 2rem;
  background: radial-gradient(50% 50% at 50% 50%, #093b81 0%, #03204a 100%);
  /* padding: 0.1rem; */
}

.slider-section article {
  height: -moz-fit-content;
  padding: 0.5rem;
  background: url("/steps/background.png"),
    radial-gradient(83rem, var(--second-color), #ffffff);
  background-position-y: center;
}
.slider-section .service {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border-radius: inherit;
  padding: 1rem;
  background-color: #ffffff70;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-origin: content-box;
  border-radius: 20px;
}

.slider-section .service .img-container {
  overflow: hidden;
  border-radius: 10px;
  height: stretch;
}

.slider-section .service .img-container .img {
  width: 100%;
  height: 100%;
}
.slider-section .service .content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.slider-section .service .img-container,
.slider-section .service .content {
  flex: 1;
  width: 100%;
}

.slider-section .service .content h2 {
  font-size: 5rem;
  background: #cc4301;
  color: white;
  width: fit-content;
  padding: 2px 10px;
  font-style: italic;
  border-radius: 5px;
}

.slider-section .service .content p {
  max-width: 100%;
  color: #0a395e;
  text-align: left;
  padding: 1rem;
  min-height: 6rem;
  max-width: 85%;
  font-weight: bolder;
  font-size: 1.8rem;
}

/* Swiper styles */

/* .swiper {
  width: 100%;
  height: 100%;
} */

.slider-section .swiper-slide img {
  /* display: block; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-section .autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: black;
}
.slider-section .autoplay-progress span {
  display: none;
}

.slider-section .autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--main-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

/* .slider-section-wrapper {
  position: absolute;
  bottom: -12%;
  width: clamp(100%, 80rem, 90vw);
} */

.swiper-button-prev-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: unset;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding: 0 2rem;
  z-index: 10;
  transform: translateY(-5rem);
  width: 100%;
}

.custom-prev,
.custom-next {
  font-size: 3rem;
  color: var(--main-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background: white;
  border-radius: 50%;
  padding: 0.2rem;

  &:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 40px -10px,
      rgba(0, 0, 0, 0.3) 0px 10px 20px -10px;
  }
  &:hover {
    color: var(--second-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
}

.swiper-pagination {
  position: absolute;
  bottom: 0 !important;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination .swiper-pagination-bullet-active.custom-dot {
  background: #ff6600 !important;
  color: #fff;
  font-weight: bold;
  width: 25px;
  height: 10px;
  border-radius: 10px;
}

/* Default bullet */
.swiper-pagination-bullet {
  background: #ccc;
  opacity: 1;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

/* Active bullet */
.swiper-pagination-bullet-active {
  background: #ff6600;
  width: 24px; /* make it pill style */
  border-radius: 12px;
}

.swiper-slide-active {
  background-color: red;
}

.services-wave {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  fill: white;
  filter: drop-shadow(0px 0px 4px white);
}

@media (max-width: 1440px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
  .services-wave {
    bottom: calc(-1px + 0%);
  }
}

@media (max-width: 768px) {
  .slider-section .swiper-slide {
    height: stretch;
  }

  .slider-section article {
    height: stretch;
    display: flex;
    padding: 0;
  }

  .slider-section .service {
    flex-direction: column;
  }

  .slider-section .service .content h2 {
    font-size: 4rem;
    margin-top: 2rem;
  }

  .slider-section .service .content p {
    font-size: 1.6rem;
  }

  .services-wave {
    display: none;
  }
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
  .services-section header h1 {
    font-size: 4rem;
  }

  .slider-section .service .content h2 {
    font-size: 3rem;
    margin-top: 2rem;
  }
  .slider-section .service .content p {
    font-size: 1.4rem;
  }

  .mini-services-container .service {
    max-width: 95vw;
    padding: 3rem 1rem;
  }
}

@media (max-width: 360px) {
  .services-section header h1 {
    font-size: 4rem;
  }

  .services-section header p {
    max-width: 100%;
  }

  .slider-section .service .img-container {
    width: 100%;
    height: 100%;
    flex-grow: 1;
  }
}
