.contact-side-btn {
  padding: 0.5rem;
  background-color: var(--main-color);
  border-radius: 50%;
  z-index: var(--z-tooltip);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-side-btn:hover {
  background-color: #ff8645;
}

.contact-side-btn svg {
  font-size: 2.5rem;
  color: white;
}
