.wtsp-btn {
  padding: 0.5rem;
  background-color: rgb(15, 185, 15);
  position: fixed;
  bottom: 2dvh;
  right: 2%;
  border-radius: 50%;
  z-index: var(--z-tooltip);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wtsp-btn svg {
  font-size: 2.5rem;
  color: white;
}

.wtsp-btn:hover {
  background-color: rgb(7, 218, 7);
}
