footer {
  background-color: #0a0a0a;
  background-color: #000b15;
  padding: 4rem 2rem 1rem 2rem;
  padding: 25rem 2rem 1rem 2rem;
}
.footer {
  /* background: url("/footer-background.png") no-repeat center center; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  background-size: cover;
  width: 100%;
  gap: 2rem;
  /* height: 100%; */
}
.footer p {
  color: #d1d1d1;
}

.top-footer {
  color: white;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.top-footer .content {
  max-width: 1200px;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  gap: 4rem;
  /* align-items: center; */
  /* text-align: center; */
}
.top-footer .footer-logo {
  font-size: 6rem;
  gap: 1rem;
  align-items: flex-end;
}
.top-footer .footer-logo img {
  width: 6rem;
  height: auto;
}
.top-footer p {
  max-width: 50rem;
  /* margin-bottom: 30px; */
}
.contact-info-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-info-container .social-media {
  display: flex;
  align-self: center;
  gap: 4rem;
  margin-top: 1rem;
}

.social-media svg {
  color: white;
  font-size: 2.5rem;
  transition: 0.3s;
}

.social-media a {
  padding: 1rem;
}
.social-media a:hover svg {
  color: #ff6600;
}

.links-container {
  display: flex;
  gap: 8rem;
}
.top-footer .links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
}
.links h4 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: white;
}
.links ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.top-footer .links li {
  margin: 5px 0;
}
.top-footer .links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}
.top-footer .links li a:hover {
  color: #ff6600;
}
.bottom-footer {
  display: flex;
  /* color: #e0e0e0; */
  /* text-align: center; */
  padding: 1rem;
  font-size: 1.6rem;
  position: relative;
  padding-top: 2rem;
}
.bottom-footer::before {
  content: "";
  background: linear-gradient(to right, transparent, #ff660065, transparent);
  /* margin-right: 1rem; */
  /* align-self: center; */
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
}

.bottom-footer a {
  color: white;
  /* color: #ff6600; */
  text-decoration: none;
}
.bottom-footer a:hover {
  text-decoration: underline;
}

.bottom-footer ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-left: auto;
}
.links .info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.links .info li {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.links .info li svg {
  color: var(--second-color);
  font-size: 2rem;
}
/* @media (max-width: 600px) {
  .top-footer .content {
    padding: 0 10px;
  }
  .top-footer p {
    font-size: 14px;
  }
  .top-footer .links {
    gap: 10px;
  }
}
.footer-logo {
  width: 150px; 
  height: auto;
}
.footer-logo img {
  width: 100%;
  height: auto;
}
.footer-logo .logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-left: 10px;
}
.footer-logo .logo-text span {
  color: #ff6600; 
} */
